

<h1>Calculator</h1>



<div class="play-container">
    
    
    <p>
        <strong>Name:    
            <input id="personName" name="personName" type="text" [(ngModel)]="name" class="form-control"
            required minlength="3"
            >
            

        
        </strong>
        
        <br>
        <strong>Amount:
            <input  type="text" class="form-control" [(ngModel)]="amount" required pattern="^[0-9]*$"  >
            
        </strong>
        <br>
        <small> no comma needed if 8,00 spend write 800 last two zero's are behind the comma </small>
        
    </p>
    <div class="button" (click)="countClick()">Submit</div> 
</div>
 



<div class="play-container">
<ul class="person">
    <li *ngFor="let person of people">
        <span class="badge">Name: {{person.name}}</span> amount spent: {{person.moneySpent}}
    </li>
</ul>
</div>

<div class="play-container">

    <div class="button" (click)="Calculate()">Calculate</div>



    <p>
        {{result}}
    </p>
</div>
